<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sandwich YUM!</title>

    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
    <div class="container text-center">
        <img src="/assets/img/sandwich.svg" alt="SANDWICH" height="200">
        <h1 class="lead display-4">Sandwich Eater!</h1>

        {{{body}}}
    </div>
</body>

</html>